* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

nav {
  position: fixed;
  padding: 0 10px 0 10px;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  background-color: RGB(51, 58, 64);
}
nav .wrapper {
  display: grid;
  grid-template-columns: 12% 1fr 12%;
  min-height: 40px;
  align-items: center;
}
nav .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav .links img {
  width: 75px;
  padding: 5px 0;
}
nav .logout {
  justify-self: right;
  text-decoration: none;
  color: white;
}
nav .dropdown {
  display: none;
}
/* END NAV */

.spacer {
  padding-top: 100px;
}
/* END SPACER */

.base-timer {
  margin: 125px auto;
}
.base-timer .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 0 0 0;
}
.base-timer .buttons button {
  margin: 0 5px;
  padding: 5px;
}
/* END LUCY */

.taskList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
}
.taskList .newtaskLink {
  grid-column: 1/4;
}
.taskList .newtask {
  margin: 10px 0 0 10px;
  padding: 5px 10px;
  justify-self: left;
  align-self: flex-start;
  border-radius: 0;
}
.taskList .col {
  padding: 10px;
}
.taskList .col .task {
  display: grid;
  border: 2px solid black;
  margin: 10px 0;
  padding: 5px;
}
.taskList .col h1 {
  padding: 0 5px;
  color: white;
  background-color: rgb(55, 55, 55);
  text-align: center;
}
.taskList .col h2, .taskList .col .desc {
  margin: 0 0 5px 0;
}
.taskList .col .desc {
  margin: 5px -2px;
  padding: 2px 5px;
  background-color: lightgray;
  box-shadow: 0 1px 1px black;
  border: 1px solid black;
}
.taskList .col .deets {
  /* margin: 0 0 0 5px; */
}
.taskList .col span {
  font-style: italic;
}
.taskList .col .buttons {
  margin: 5px 0 0 0;
  justify-self: right;
}
.taskList .col button {
  padding: 4px 10px;
  border-radius: 0;
  background-color: rgb(153, 255, 0);
}
/*  */




/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 100%
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 10px;
  }
  nav .smHide {
    display: none;
  }
  nav .dropdown {
    display: block;
    grid-column: 3/4;
    justify-self: right;
  }
  nav .hamburger {
    width: 20px;
  }
  nav .hamburger * {
    height: 4px;
    margin: 3px 0;
    background-color: white;
  }
  .dropdown .links {
    grid-template-columns: repeat(4, 1fr);
    margin: 2px 0 0 -225px;
    padding: 5px;
    background-image: linear-gradient(gray 10%, rgb(255, 255, 255));
    border-radius: 5px;
    box-shadow: inset 0 0 10px white;
    position: absolute;
  }
  .dropdown .center {
    grid-column: 1/5;
    justify-self: center;
  }
  .dropdown .links img {
    width: 50px;
    padding: 0 5px;
  }
  .dropdown .buttons {
    grid-column: 1/5;
    justify-self: center;
  }
  .dropdown button {
    width: 75px;
    padding: 8px 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    color: white;
    background-color: rgb(50, 50, 50);
    font-weight: bold;
  }
  .taskList {
    grid-template-columns: 1fr;
  }
  .taskList .newtaskLink {
    grid-column: 1/2;
  }

}